body{
    background-image: url(/images/robot-female.png);
    background-size: cover; /*This property/value pair tells the browser to scale the background image proportionally so that its width and height are equal to, or greater than, the width/height of the element. - Per https://www.webfx.com/blog/web-design/responsive-background-image/ */
    background-position-x: center; /*incase the img gets scaled up and get distorted (height and width), this will keep it center*/
    background-position-y: center; /*incase the img gets scaled up and get distorted (height and width), this will keep it center*/
    background-attachment: fixed; /*to prevent the photo from scrolling on the page or img ending before page does*/
    background-repeat: no-repeat; /*to prevent the photo from repeating on the screen*/
    /* codes from line 3 to 7 are taken from my tip calculator project*/
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {  /* container for img of robot and button box */
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex; /*this will make the container a flex box */
    align-items: center;
    flex-direction: column;
    justify-content: center;  /*this will make the robot and text box center */
}
button{
    padding: 10px;
    width: 30%;
    background-color: rgb(177, 177, 189);
    font-size: 22px;
    margin-top: 5%; /* this will create a space between the robot and the button */
    border-radius: 5px;
}
