body{
    background-image: url(images/Data-Center.png);
    background-size: cover; /*This property/value pair tells the browser to scale the background image proportionally so that its width and height are equal to, or greater than, the width/height of the element. - Per https://www.webfx.com/blog/web-design/responsive-background-image/ */
    background-position-x: center; /*incase the img gets scaled up and get distorted (height and width), this will keep it center*/
    background-position-y: center; /*incase the img gets scaled up and get distorted (height and width), this will keep it center*/
    background-attachment: fixed; /*to prevent the photo from scrolling on the page or img ending before page does*/
    background-repeat: no-repeat; /*to prevent the photo from repeating on the screen*/
    /* codes from line 3 to 7 are taken from my tip calculator project*/
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {  /* container for img of robot and button box */
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex; /*this will make the container a flex box */
    align-items: center;
    flex-direction: column;
    justify-content: center;  /*this will make the robot and text box center */
}
button{
    padding: 5px;
    width: 25%;
    background-color: rgb(177, 177, 189);
    font-size: 22px;
    margin-top: 5%; /* this will create a space between the robot and the button */
    border-radius: 5px;
}
/* to fix the issue w/ from my test on line 120, will need to add a media query */
@media(max-width:480px){
    .calculator input{ /* made the input box smaller so the button box will be made a bit bigger. My adjustments are different from the tutorials based on my 50px images.  */
      width: 70%;     
    }
    .calculator button{ /* My adjustments are different from the tutorials based on my 50px images.  */
        width: 30%;     
    }
}
@media(max-width:320px){
    .calculator input{ /* made the input box smaller so the button box will be made a bit bigger. My adjustments are different from the tutorials based on my 50px images.  */
      width: 40%;     
    }
}